body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

form {
    display: block;
    margin-top: 0em;
}

label {
    display: block;
}


