body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}


thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    border-color: inherit;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

form {
    display: block;
    margin-top: 0em;
}